Dans cette partie régression, on choisit une variable (colonne) comme son salaire pour savoir en combien de temps le client fiable pourra rembourser et ce basé sur son salaire par exemple

In [6]:
import pandas as pd
import numpy as np
from pandas import read_csv
import os
#os.getcwd()
# enregistrement du chemin du fichier dans la variable pour un accès plus facile
file_path = 'Financial_Datasets.zip'

# lecture des données et stockage les données dans DataFrame intitulé melbourne_data
data = pd.read_csv(file_path)


# extraction des 1000 premières lignes
data.head(100)

,ID_Customer,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,38,12,48,95617,4,0.2,3,0,0,0,0,1,0
96,97,41,15,80,95014,1,5.2,1,0,0,0,0,0,0
97,98,54,28,161,92121,1,2.9,1,0,0,0,0,1,0
98,99,49,23,94,92374,1,0.3,1,0,0,0,0,1,0
99,100,66,41,15,91711,3,0.1,3,0,0,0,0,1,0